<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="index.css">
    <title>Whalze</title>
</head>
<body>
    <header class="main-header">
        <div>
            <p class="main-header__brand">Whalze</p>
        </div>

        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                    <a href="about.html">About</a>
                </li>
                <!-- <li class="main-nav__item main-nav__item--cta">
                    <a href="start-hosting/index.html">Contact</a>
                </li> -->
            </ul>
        </nav>
    </header>
    <main>
        <div class="weather_api">
            <p>weather_api</p>
        </div>
        <div class="section">
            <div class="quote_section">
                <div class="image">
                    
                </div>
            </div>
            <div class="quote_section_info">
                <h3> Let everything happen to you , beauty and terror. Just keep going . No feeling is final </h3>
            </div>
        </div>
        <div class="about_section">
            <h1>Hello! I`m Nnebedum Henry a <span class="highlight-blue">software developer</span>  based in
            <br> Enugu Nigeria</h1>
            <h2>
                I love building tools that are user-friendly, simple and delightful.
                <br>
                <br>
                I am a student of University of Nigeria Nsukka Enugu Campus studying <span class="highlight-red"> Medical Radiography</span>    and currently in my 400Level.
                <br>
                <br>
                While during ASUU strike i took a Udemy course where i was able to learn back-end web development.
                <br>
                <br>
                Through the experince i had while learning, i know that i will be able to work with teams across different time zone and develope a working style that leans toward <span class="highlight">flexibility, clarity and collaboration.</span> 
                <br>
                <br>
                I am currently looking for Junior role as a back-end engineer.<span class="cicle-sketch-highlight" >Hire me!</span>

            </h2>
        </div>
        <div class="project-section">
            <h2 class="project-title">Current Projects</h2>
            <div class="project-list">
                <div class="project-item">
                    <div class="project-image-one">
                        <img src="./Resilience.jpg" alt="">
                    </div>
                    <div class="project-info">
                        <h4>This Project is my first project i built from scratch. Both front and back was done by me. </h4>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-image-two">
                        <img src="./replace.jpeg" alt="" srcset="">
                    </div>
                    <div class="project-info">
                        <h4>Will be working on Blog as part of my project.</h4>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-image-three">
                        <img class="art" src="./slider1.jpg" alt="">
                    </div>
                    <div class="project-info">
                        <h4>My Tech stack includes JavaScript,<br> Node Js,<br>  MongoDb as Database .</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="weatherSection">
            <div class="row">
                <div class="col-mid-6">
                    <h1 id="country"></h1>
                    <h2 id="location"></h2>
                    <h3 id="description"></h3>
                    <h3 id="string"></h3>
                    <img id="icon" >
                    <ul class="details">
                        <li class="list-group" id="humidity"></li>
                        <li class="list-group" id="dew-point"></li>
                        <li class="list-group" id="feels-like"></li>
                        <li class="list-group" id="wind"></li>
                    </ul>
                </div>
                <h2>Your weather </h2>
            </div>
        </div>
        <div class="footer-mini">
            <section id="key-features">
                <ul class="key-feature__list">
                    <li class="key-feature">
                        <p class="key-feature__description">Enugu ,Enugu State Nigeria</p>
                        <i class="fa fa-home"></i>
                    </li>
                    <li  class="key-feature">
                        <p class="key-feature__description">09050318254</p>
                        <i class="fa fa-mobile"></i>
                    </li>
                    <li  class="key-feature">
                        <p class="key-feature__description">Social Media</p>
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        <i class="fa fa-github-square" aria-hidden="true"></i>
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </li>
                </ul>
            </section>
        </div>
        <footer class="main-footer">
            <nav>
                <ul class="main-footer__links">
                    <li class="main-footer__link">
                        <p>&copy; 2021- <span class="current-year"></span> All Right Reserved</p>
                    </li>
                </ul>
            </nav>
        </footer>
    </main>
    <script src="/ui.js"></script>
    <script src="weather.js"></script>
    <script src="main.js"></script>
</body>




















        <!-- <div class="container"> -->
            
            
            <!-- <div class="container">
                <div class="header">
                    <div class="logo">
                        <p>Whalze</p>
                    </div>
                    <div class="navigation">
                        <a href="index.html">About</a>
                        <a href="index.html">About</a>
                        <a href="index.html">About</a>
                        <a href="index.html">About</a>
                    </div>
                </div>
                <div class="weather_api"></div>
                <div class="quote_section">
                    <div class="image"></div>
                    <div class="quotes-text"></div>
                </div>
                <div class="about-section">
            <div class="about-text">
                <p>About</p>
            </div>
            <div class="about content">
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, veniam ratione odit illo facilis temporibus molestiae voluptatum eaque architecto deserunt quod molestias perspiciatis consequatur rem perferendis earum et nostrum iusto? <a href="about.html">For More</a> </p>
            </div>
        </div>
        <div class="current-project">
            <div class="project-sections">
                <div class="project-image"></div>
                <div class="project-text"></div>
            </div>
            <div class="project-sections">
                <div class="project-image"></div>
                <div class="project-text"></div>
            </div>
            <div class="project-sections">
                <div class="project-image"></div>
                <div class="project-text"></div>
            </div>
        </div>
        <div class="programmin-skills">
            <div class="list-stacks"></div>
            <div class="list-stacks"></div>
            <div class="list-stacks"></div>
        </div>
        <div class="footer">
            <div class="address"></div>
            <div class="comment">
                <form action="" method="post">
                    <label for="">Leave a comment</label>
                    <input type="email" name="email" placeholder="E-mail" >
                    <textarea name="" id="" cols="30" rows="10" name="comment" ></textarea>
                </form>
            </div>
            <div class="copyright"></div>
        </div>

        </div> -->
</html>